.pinnedItems {
    padding: 0rem 1rem 0rem 1rem;
}
.list__item { 
    background-color: rgb(250, 250, 250);
    margin-top: 4rem;
    border: 1px solid #E7E7E7 !important;
    border-radius: 5px;
    padding: 20px 20px;
}
.title__item {
    color: grey;
    font-size: 15px;
}
.image__item{
    height: 3rem;
}
.price__item{
    font-weight: bold;
    font-size: 14px;
    color: black;
}
.quantity__item { 
    position: relative;
    bottom: 0;
}