.cart_summary {
    color: white;
    padding: 2rem 3rem;
    width: 30%;
    position: fixed;
}
.total__price {
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.vertical{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.input__form{
    padding: 0.5rem;
    border-radius: 5px;
}