.cart_summary {
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3rem;
    /* box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2); */
    background-color: white;
}
.total__price {
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.vertical{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}