.header{ 
    background-color: white;
    padding: 1.5rem;
}
.logo{
    height: 3rem;
}
.links{
    display: flex;
    justify-content: flex-end;
}
.link{
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
}